body {
    background-color: #181818;
    background-image: url('../img/bg.png')  ;
    background-position: center -10px;
    background-repeat: no-repeat;
    font-family: 'Gotham Pro', 'Arial', sans-serif ;
    font-size: 13px;
    margin: 0 auto;
    color: #FFFFFF;
    font-weight: 400;
}

img {
    max-width: 100%;
    height: auto;
}

.to-uppercase {
    text-transform: uppercase;
}

.main {
    //display: none;
}
